* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    border: 3px solid black;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 25% 75%;
}

.nav{
    border: 3px solid green;
    grid-row-start: 1;
    grid-row-end: 3;
}

.header{
    grid-column-start: 2;
    border: 3px solid red;
}

.main {
    border: 3px solid blue;
    grid-column-start: 2;
    grid-column-end: span 1;
}